<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <p style="font-size: 20px;">
                The 2025 edition of the Nordic-RSE conference will be held <b>in Gothenburg on May 20-21 </b> approximately 9-17 CEST.
                If you are interested in Research Software Engineering and want to connect with the community in the Nordics, you are warmly encouraged to join.
                You can find instructions for submitting your contribution below. 
                Registration will open soon (tickets will cost about 75€).
            </p>

            <a class="btn btn-primary btn-lg" href="https://forms.gle/q6jtNJbBL26PyrGM8" target="_blank" rel="noreferrer noopener" role="button">Submit your abstract</a>
        </div>
    </div>
</section>
<!-- End About Section -->
