<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <p style="font-size: 20px;">
                The 2025 edition of the Nordic-RSE conference will be held <b>in Gothenburg on May 20-21</b>.
                If you are working as research software engineer or are simply interested on the topic, you are warmly encouraged to join.
                More details on registration and call for papers coming soon!
            </p>

            <a class="btn btn-primary btn-lg" href="https://forms.gle/AhUTmtVZVx5eWMCU9" target="_blank" rel="noreferrer noopener" role="button">Submit your talk</a>
        </div>
    </div>
</section>
<!-- End About Section -->
