<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Call for contributions!</h3>
            <p style="font-size: 20px;">
                If you are working as research software engineer or are passionate about open-source (be it coding or community building), you are warmly encourage to present at the Nordic-RSE conference.

                Relevant topics include but are not limited to
                <ul>
                    <li>High-performance computing</li>
                    <li>Community building</li>
                    <li>Teaching programming to researchers</li>
                    <li>Developing research software</li>
                    <li>Reproducible science</li>
                    <li>Open-source, open-science, open access</li>
                </ul>

                At the conference, we offer different presentation formats

                <ul>
                    <li><b>Discussion session</b>: 1 hour session for an interactive discussion around a theme</li>
                    <li><b>Talk</b>: 30 minutes talk (including 5 minutes for questions)</li>
                    <li><b>Lightning talk</b>: 10 minutes talk (including 3 minutes for question), particularly suitable for short demos or presenting WIP projects</li>
                    <li><b>Tutorial</b>: 1 hour walkthrough about a technical topic, could be a tool you use, a programming language, a way you do things, etc.</li>
                    <li><b>Poster</b>:</li> Don't want to prepare a talk, but still have something you want to share? Submit a poster!
                </ul>

                Are you excited? If yes submit your work <b>by March 16th 2025</b> via <a href="https://forms.gle/AhUTmtVZVx5eWMCU9"></a>. You will get a reply by <b>April 1st 2025.</b>
            </p>
        </div>
    </div>
</section>
<!-- End About Section -->
