<!-- NUA Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h4 id="cfp">Join us for our “Night of Unfinished Abstracts”!</h4>
            <div style="text-align: left;">
                <p style="font-size: 20px;">
                    This virtual, hackathon-style event is the perfect chance to collaborate on your conference proposals,
                    bounce ideas off peers, and get real-time feedback from the organizing team. Whether you’re polishing a 
                    draft or starting from scratch, we’ll help you refine your abstract and push it over the finish line.
                </br></br>
                    Don’t miss this opportunity to brainstorm with fellow attendees and gain valuable insights into the 
                    submission process. Bring your ideas, your questions, and your enthusiasm—together, we’ll make those 
                    unfinished abstracts shine!
                    <ul>
                        <li>When? - March 12th from 15 CET to 17 CET. Anyone can drop by anytime</li>
                        <li>Where? - Zoom Connection details and more info in <a href="https://hackmd.io/@nordic-rse/NUA">our collaborative notes</a>.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End NUA Section -->
