<!-- Organizer Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <p style="font-size: 20px;">
                This conference is organized by members of the Nordic-RSE association with support from their home organizations. 
                <ul>
                    <li>Richard Darst, Aalto University</li>
                    <li>Matteo Tomasini, University of Gothenburg</li>
                    <li>Luca Ferranti, Aalto University</li>
                    <li>Jarno Rantaharju, Aalto University</li>
                    <li>Samantha Wittke, CSC - IT Center for Science</li>
                </ul>
            </p>
        </div>
    </div>
</section>
<!-- Organizer Section -->
